.weather-container {
  max-width: 200px;
  background: #ffffff;
  position: relative;
  border-radius: 3px;
  margin: 30px auto;
  min-height: 200px;
  padding: 18px;
}

.weather-date {
  color: #999999;
  font-size: 0.8rem;
  margin-bottom: 24px;
}

.weather {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.weather__icon > img {
  width: 70px;
}

.weather__icon > .type {
  text-align: center;
  font-size: 0.8rem;
  margin-top: -6px;
}

.weather__temp {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.weather__temp > .temp-value {
  font-size: 60px;
}

.weather__temp > .temp-type {
  font-size: 20px;
  padding-left: 3px;
  padding-top: 6px;
  color: #888888;
}

.weather__city {
  width: 100%;
  font-size: 0.8rem;
  text-align: right;
  color: #888888;
}

.progressBar {
  position: absolute;
  left: 0px;
  height: 3px;
  background: #888888;
  bottom: 0px;
}

.loader-container,
.loader-container:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container:before {
  content: '';
  background-color: #a7a3a2;
  opacity: 0.3;
}
.loader {
  animation: loader-spin infinite 1s linear;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  border-top-color: #888888;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

